.fondo{
    background-image: linear-gradient(150deg, rgba(205, 205, 227, 0.788) 50%, rgba(4, 10, 121, 0.911) 100%);
}


.registro{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 83%;
}

.botonR{
    margin-top: 60px;

    margin-left: 100px;
    margin-right: 100px;

    margin-bottom: 30px;
    font-weight: bold;
    color: gold;
    background-color: rgb(2, 2, 80)
}

.labelR{
    font-size: 17px;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(122, 105, 3);
    font-weight: bold;
}

.Registro{
color: rgb(4, 4, 165);
font-weight: bold;
font-size: 30px;
margin: 10px;
}

.borR{
    border: solid 3px rgb(1, 83, 1);
    border-radius: 2%;
}

.chek{
    margin-top: 580px;
    margin-left: 140px;
}

.registroboton3{
    color: white;
    font-weight: bold;
    border: solid yellow 3px;
    background-color: rgb(199, 23, 17);
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 25px;
    margin-top: 40px;
}



.geo{
    color: rgb(5, 209, 5) !important;
    font-weight: bold;
}

.eco{
    color:rgb(201, 201, 4);
    font-weight: bold;
}

.web{
    color: orangered;
    font-style: oblique;
    font-weight: bold;
}

.preguntare{
    color:  black;
    text-shadow: 1px 1px 1px white ;
    font-weight: bold;
    font-size: 25px;
   
}

.flecha{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 20px;
    border: solid 3px blue;
}

.tenemos2pay{
    color: blue;
    font-weight: bold;
    text-shadow: 1px 1px 1px white ;
    font-size: 27px;
    margin: 30px;
    border: solid 3px yellow;
    background-color: rgba(255, 255, 255, 0.727);
    border-radius: 3%;
    padding: 5px;
}

.ecocien2{
    height: 150px !important;
    width: 300px !important;
    border: solid 3px rgb(1, 1, 104);
    border-radius: 50px;
    opacity: 0.9;
    margin-top: 40px;
    margin-bottom: 20px;
}

.ahora{
    color: rgb(3, 3, 63);
    font-weight: bold;
    text-shadow: 1px 1px 1px white ;
    font-size: 20px;
    margin-top: 20px;

}

.siguenos{
    color: gold;
    font-weight: bold;
    text-shadow: 2px 2px 2px black ;
    font-size: 25px;

}

.youtube{
    color: rgb(215, 4, 4);
    font-weight: bold;
    text-shadow: 1px 1px 1px white ;
    font-size: 25px;

}

.youtube2{
    color: rgb(215, 4, 4);
    font-weight: bold;
    text-shadow: 1px 1px 1px white ;
    font-size: 20px;

}

.tituloVpayP{
    color: rgb(219, 5, 5);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
    text-align: left;
}

.dirP{
    color: rgb(5, 5, 179);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-size: 19px;
    text-align: left;
}

.payidP{
    color: rgb(15, 123, 3);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
    text-align: left;
}

.tiposusP{
    color: rgb(176, 116, 7);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
    text-align: left;
}

.clasecol{
    color: rgb(157, 6, 79);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
    text-align: left;
}


.videoV{
    color: orange;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
}

.caja{
    border: solid 4px grey;
    margin: 20px;
    background-color: rgb(199, 199, 223);
}

